version: "3"
services:
  ocular-models-server:
    container_name: ocular-models-server
    build:
      context: .
      dockerfile: packages/ocular-models-server/Dockerfile.models
    ports:
      - 8000:8000
  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    container_name: qdrant
    ports:
      - 6333:6333
      - 6334:6334
    expose:
      - 6333
      - 6334
      - 6335
    volumes:
      - ./qdrant_data:/qdrant_data

  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data

  zookeeper:
    image: "confluentinc/cp-zookeeper:latest"
    ports:
      - "2181:2181"
    environment:
      - ZOOKEEPER_CLIENT_PORT=2181
      - ZOOKEEPER_TICK_TIME=2000
    volumes:
      - ./log4j.properties:/opt/bitnami/zookeeper/conf/log4j.properties

  kafka:
    image: confluentinc/cp-kafka:latest
    user: root
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_LOG4J_LOGGERS=org.apache.zookeeper=ERROR,org.apache.kafka=ERROR,kafka=ERROR,kafka.cluster=ERROR,kafka.controller=ERROR,kafka.coordinator=ERROR,kafka.log=ERROR,kafka.server=ERROR,kafka.zookeeper=ERROR,state.change.logger=ERROR
    volumes:
      - ./Kafka:/bitnami/kafka
      - ./log4j.properties:/etc/kafka/log4j.properties

  ocular-db:
    image: postgres:14-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_PASSWORD: ocular
      POSTGRES_USER: ocular
      POSTGRES_DB: ocular

  ocular-db-migration:
    container_name: ocular-db-migration
    depends_on:
      - ocular-db
    build:
      context: .
      dockerfile: packages/ocular/Dockerfile.dev
    environment:
      - DATABASE_URL=postgresql://ocular:ocular@ocular-db:5432/ocular
      - DATABASE_NAME=ocular
    command: npm run typeorm:local migration:run

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    depends_on:
      - ocular-db
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ocularpostgres@useocular.com
      PGADMIN_DEFAULT_PASSWORD: ocular
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes:
  pgadmin-data:

configs:
  qdrant_config:
    content: |
      log_level: INFO
