# Database URL + REDIS + QDRANT running Docker
NODE_ENV=development
DATABASE_URL=postgresql://ocular:ocular@localhost:5433/ocular
DATABASE_NAME=ocular
QDRANT_DB_URL=http://localhost:6333
UI_CORS=http://localhost:9000
REDIS_URL=redis://localhost:6379


# Required Azure Open AI credentials
AZURE_OPEN_AI_KEY=
AZURE_OPEN_AI_ENDPOINT=
AZURE_OPEN_AI_EMBEDDER_DEPLOYMENT_NAME=
AZURE_OPEN_AI_EMBEDDING_MODEL=
AZURE_OPEN_AI_CHAT_DEPLOYMENT_NAME=
AZURE_OPEN_AI_CHAT_MODEL=

# Add these if you want to enable index data from apps

# Google (Gmail + Google Drive)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Asana
ASANA_CLIENT_ID=
ASANA_CLIENT_SECRET=

# GitHub
GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_PRIVATE_KEY_PATH=
